* {
    margin: 0;
}

img {
    margin-left: 80px;
}

.para {
    font-weight: 900;
    margin-left: 200px;
    font-size: 20px;
}

button {
    margin-top: 20px;
    margin-left: 130px;
    padding: 20px;
    font-size: 20px;
    font-style: oblique;
    font-weight: 600;
    width: 250px;
    background-color: transparent;
    border-radius: 20px;
}

#error-msg {
    color: red;
    font-size: 20px;
    margin-top: 15px;
    margin-left: 100px;
}