* {
    margin: 0;
    padding: 0;
}

body {
    background-color: beige;
    
}


#container {
    width: 450px;
    height: 600px;
    background: linear-gradient(to top right, #cc99ff 7%, #66ccff 105%);
    border-radius: 7px;
    margin: 60px auto;
 
    
    
}


#input-el {
    height: 70px;
    width: 92%;
    border: 0;
    border-radius: 7px;
    text-align: right;
    padding: 15px;
    font-size: 30px;
    outline: 0;
    margin: 15px auto; 
    background: linear-gradient(to top right, #f2eff5 7%, #bac8d1 105%);
}

#num-btn-container {
    margin-top: 30%;
    height: 357px;
    
}
.num-btn {
    padding: 20px;
    width: 110px;
    float: left;
    margin-top: 5px;
    margin-left: 2px;
    outline: 0;
    border: 5px;
    border-radius: 7px;
    font-size: 20px;
} 

#numON-btn {
    background-color: rgb(139, 214, 139);
    visibility: hidden;
}
#numOFF-btn {
    background-color: rgb(235, 59, 59);
    visibility: hidden;
}